In [1]:
# Operadores matematicos
5 + 4 / 8 * 2

6.0

In [2]:
3 ** (3 + 2) - 8

235

In [3]:
# módulo
9 % 3

0

In [4]:
# división
21 / 5

4.2

In [5]:
# devolver la parte entera la división
21 // 5

4

## Operadores de asignación

In [6]:
x = 56
# x = x + 4 -> 60
x += 4
x

60

In [7]:
x = 3
# x = x ** 2 -> 9
x **= 2
x

9

In [8]:
x = 67
y = 3
# y = y + x
y += x
y

70

In [9]:
x = -4
y = 60
z = 0
z += x
print(z)
z += y
print(z)

-4
56

In [10]:
texto_1 = "Hola"
texto_1 += " mundo"
texto_1

'Hola mundo'

## Operadores de Comparación

In [11]:
5 == 6

False

In [12]:
6 < 6

False

In [13]:
90 >= 90

True

In [14]:
70 != 70

False

In [15]:
90 > 35

True

In [16]:
90 <> 90

SyntaxError: invalid syntax (<ipython-input-16-c6ca58933099>, line 1)

## Operadores lógicos

In [17]:
# and
6 > 5 and 5 < 9

True

In [18]:
# and
7 < 5 and 7 > 2

False

In [19]:
# or
6 > 5 or 5 < 9

True

In [20]:
# or
7 < 5 or 7 > 2

True

In [21]:
# not
not(6 > 5 and 5 < 9)

False

In [22]:
# not
not(7 < 5 and 7 > 2)

True

## Operadores de Identidad

In [23]:
x = 5
y = 5
x is y

True

In [24]:
x = 5
y = 6
x is y

False

In [25]:
x = "ana"
y = "ana"
x is y

True

In [26]:
x = 5
y = x
x is y

True

In [27]:
y = 6
x is y

False

In [28]:
lista_1 = ["manzana", "banano"]
lista_2 = ["manzana", "banano"]
lista_3 = lista_1

In [29]:
lista_1 is lista_2

False

In [30]:
lista_1 is lista_3

True

In [31]:
lista_1 == lista_2

True

In [32]:
lista_1 is not lista_2

True

## Operadores de Membresia

In [33]:
lista_1 = ["fresa", "manzana", "mandarina", 2]

In [34]:
"mango" in lista_1

False

In [35]:
"fres" in lista_1

False

In [36]:
"fresa" in lista_1

True

In [37]:
lista_1.append("naranja")

In [38]:
lista_1

['fresa', 'manzana', 'mandarina', 2, 'naranja']

In [39]:
2 not in lista_1

False

In [40]:
2 in lista_1

True

In [41]:
fruta = "manzana"
"man" in fruta

True

In [42]:
for x in lista_1:
    if "man" in str(x):
        print(f"Lo encontre: {x}")

Lo encontre: manzana
Lo encontre: mandarina

In [43]:
x = range(1000000)

In [44]:
7850000 in list(x)

False

In [45]:
785000 in list(x)

True

**Debemos ver todos los vídeos de la sección 8 (del 45 al 55) del curso que estamos siguiendo**